<div id="page_content" ng-controller="usuariosCtrl as CtrlUsuario">
    <div id="page_content_inner">
        <h3 class="heading_b uk-margin-bottom">Usuarios</h3>
        <div class="md-card">
            <div class="md-card-content">
                <a data-uk-modal="{target:'#modalCrear'}" class="md-btn md-btn-flat md-btn-flat-success md-btn-wave">Crear usuario</a>
                <table datatable="" dt-options="CtrlUsuario.dtOptions"  dt-columns="CtrlUsuario.dtColumns" class="uk-table" cellspacing="0" width="100%"></table>
            </div>
        </div>
    </div>
    <!--Modal Crear-->
    <div class="uk-modal" id="modalCrear">
        <div class="uk-modal-dialog">
            <div class="uk-width-medium-1-4">
                <div  message="{{ notificacion }}" uk-notification id="Notify" status="warning"></div>
            </div>
            <div class="uk-modal-header">
                <h3 class="uk-modal-title">Crear usuario</h3>
            </div>
            <form id="form_validation" class="uk-form-stacked">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2">
                        <div class="parsley-row">
                            <label for="fullname">Nombre<span class="req">*</span></label>
                            <input type="text" ng-model="item.nombre" required class="md-input" md-input />
                        </div>
                    </div>
                    <div class="uk-width-medium-1-2">
                        <div class="parsley-row">
                            <label for="fullname">Apellido<span class="req">*</span></label>
                            <input type="text" ng-model="item.apellido" required class="md-input" md-input />
                        </div>
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2">
                        <div class="parsley-row">
                            <label for="fullname">Usuario<span class="req">*</span></label>
                            <input type="text" ng-model="item.usuario" required class="md-input" md-input />
                        </div>
                    </div>
                    <div class="uk-width-medium-1-2">
                        <div class="parsley-row">
                            <input config="confTipoUsuario" options="ObjTipoUsuario.tipousuario" ng-model="item.idtipousuario" required name="val_select" selectize />
                        </div>
                    </div>
                </div> 
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2">
                        <div class="parsley-row">
                            <label for="fullname">Correo<span class="req">*</span></label>
                            <input type="email" ng-model="item.correo" data-parsley-trigger="change" required  class="md-input" md-input />
                        </div>
                    </div>
                    <div class="uk-width-medium-1-2">
                        <div class="parsley-row">
                            <label for="fullname">Contraseña<span class="req">*</span></label>
                            <input type="password" ng-model="item.password" required class="md-input" md-input />
                        </div>
                    </div>
                </div> 
                <div class="uk-modal-footer uk-text-right">
                    <button type="button" class="md-btn md-btn-flat uk-modal-close">Cerrar</button>
                    <button type="submit" ng-click="crearUsuario(item)" class="md-btn md-btn-flat md-btn-flat-primary">Crear</button>
                </div>
            </form>
        </div>
    </div>  
</div>

<!--Modal Editar-->
<div class="uk-modal" id="modalEditar">
    <div class="uk-modal-dialog">
        <div class="uk-modal-header">
            <h3 class="uk-modal-title">Editar usuario</h3>
        </div>
          <form id="form_validation" class="uk-form-stacked">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2">
                        <div class="parsley-row">
                            <label for="fullname">Nombre<span class="req">*</span></label>
                            <input type="text" ng-model="item.nombre" required class="md-input" md-input />
                        </div>
                    </div>
                    <div class="uk-width-medium-1-2">
                        <div class="parsley-row">
                            <label for="fullname">Apellido<span class="req">*</span></label>
                            <input type="text" ng-model="item.apellido" required class="md-input" md-input />
                        </div>
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2">
                        <div class="parsley-row">
                            <label for="fullname">Usuario<span class="req">*</span></label>
                            <input type="text" ng-model="item.usuario" required class="md-input" md-input />
                        </div>
                    </div>
                    <div class="uk-width-medium-1-2">
                        <div class="parsley-row">
                            <input config="confTipoUsuario" options="tipousuario" ng-model="item.idtipousuario" required selectize />
                        </div>
                    </div>
                </div> 
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2">
                        <div class="parsley-row">
                            <label for="fullname">Correo<span class="req">*</span></label>
                            <input type="email" ng-model="item.correo" data-parsley-trigger="change" required  class="md-input" md-input />
                        </div>
                    </div>
                    <div class="uk-width-medium-1-2">
                        <div class="parsley-row">
                            <label for="fullname">Contraseña<span class="req">*</span></label>
                            <input type="password" ng-model="item.password" required class="md-input" md-input />
                        </div>
                    </div>
                </div> 
                <div class="uk-modal-footer uk-text-right">
                    <button type="button" class="md-btn md-btn-flat uk-modal-close">Cerrar</button>
                    <button type="submit" ng-click="editarUsuario(item)" class="md-btn md-btn-flat md-btn-flat-primary">Crear</button>
                </div>
            </form>
    </div>
</div>
<!--Modal Eliminar-->
<div class="uk-modal" id="modalEliminar">
    <div class="uk-modal-dialog">
        <div class="uk-modal-header">
            <h3 class="uk-modal-title">Eliminar usuario</h3>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, aliquid amet animi aspernatur aut blanditiis doloribus eligendi est fugiat iure iusto laborum modi mollitia nemo pariatur, rem tempore. Dolor, excepturi.</p>
        <div class="uk-modal-footer uk-text-right">
            <button type="button" class="md-btn md-btn-flat uk-modal-close">Cerrar</button>
            <button type="button" class="md-btn md-btn-flat md-btn-flat-primary">Eliminar</button>
        </div>
    </div>
</div>